$navbar-default-bg: black;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
   float: left;
   font-size: 2.7em; 
   color: #fff;
   text-transform: uppercase;
   letter-spacing: -1px;
   font-weight: bold;
}
