<div class="container">
     <footer class="footer">
     <small>
     Copyright &copy; <href="https://alex-rails-123.herokuapp.com"> Alex Rails Sample Project </a>
     by <a href="http://www.healthysport.net"> Healthysport Inc. </a>
     </small>
     <nav>
     <ul>
         <li><%= link_to "About", static_pages_about_path %></li>
     <ul>
     </nav>
     </footer>
</div>
     
